.checkbox {
  border: none;
}

.checkbox__legend {
  margin-bottom: 8px;
}

.checkbox__label {
  padding-left: 24px;
  position: relative;
  line-height: 16px;
}

.checkbox__input {
  display: none;
}

.checkbox__wrapper {
  position: relative;
  margin-bottom: 8px;
}

.checkbox__wrapper .checkbox__label::before {
  content: '';
  border: 1px solid black;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  background: white;
  position: absolute;
  display: block;
  z-index: 99;
  box-sizing: border-box;
}

.checkbox--checked .checkbox__label::after {
  content: '\2713';

  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  left: 2px;
  top: 1px;
  color: green;
  position: absolute;
  display: block;
  z-index: 100;
  box-sizing: border-box;

}



.checkbox--inline .checkbox__wrapper{display: inline-block; width:auto; margin-right: 16px;}
