<div class="palette">


  <!--   <add-banner [ads]="ads" class="palette__component"></add-banner> -->

  <app-button class="palette__component"></app-button>
  <app-slider class="palette__component"></app-slider>
  <app-card class="palette__component"></app-card>

  <app-table class="palette__component"></app-table>


  <app-checkbox class="palette__component"></app-checkbox>
  <app-dropdown class="palette__component"></app-dropdown>
  <app-radio class="palette__component"></app-radio>
  <app-calendar class="palette__component"></app-calendar>
  <app-list class="palette__component"></app-list>
  <app-menu class="palette__component"></app-menu>
  <app-logo class="palette__component"></app-logo>
  <app-file-upload class="palette__component"></app-file-upload>
  <app-three-dots class="palette__component"></app-three-dots>
  <app-md-block class="palette__component"></app-md-block>
  <app-link class="palette__component"></app-link>
  <app-image class="palette__component"></app-image>
  <app-divider class="palette__component"></app-divider>
  <app-paragraph class="palette__component"></app-paragraph>
  <app-field class="palette__component"></app-field>
  <app-textarea class="palette__component"></app-textarea>


</div>
